!!!

%h1 Autodank

%form{:method => 'post'}
  %p Title
  %input{:type => 'text', :name => 'title'}
  %p Subreddit
  %input{:type => 'text', :name => 'subreddit'}
  %p Link URL
  %input{:type => 'text', :name => 'url'}
  %p Date & Time (UTC)
  %input{:type => 'text', :name => 'time'}
  %br
  %input{:type => 'submit'}
